body{
    height: 100vh;
}

main{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.hero{
    width: 100%;

    position: relative;
    overflow: hidden;
}

.hero img{
    width: 100%;
}

.hero p{
    background-color: var(--text-backdrop);
    color: var(--highlight-color);
    
    padding-left: 5%;
    padding-right: 5%;
    padding-block: 4%;

    max-width: 100%;
    font-size: 1.2rem;

    position: absolute;
    bottom: 0;
}

.busca-menu{
    overflow: auto;

}

.card-busca{
    position: relative;
    overflow: hidden;
    margin: 5%;

    border-radius: 11px;

    height: 187px;
    overflow: hidden;


    box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.4);
    box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.4);
}

.card-busca h2{
    position: absolute;
    bottom: 1rem;
    left: 2rem;

    color: var(--highlight-color);
    
    width: 50%;
}