main{
    padding: 4%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

main p{
    font-size: 1.5rem;
}

.search-bar{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    padding: 8px;

    background-color: var(--highlight-color);
    height: 8%;
    max-height: 70px;
    
    border-radius: 24px;
    border-style: solid;
    border-color: var(--primary-shaded);
    
}

.lupa-icon{
    width: 11%;
    max-height: 60px;
    max-width: 60px;

}
input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;

    font-size: 2rem;
    color: var(--primary-color);

}

button{
    position: sticky;
    pointer-events: auto;
    bottom: 25px;
    width: 150px;
    height: 50px;
    border-radius: 45px;
    border-color: var(--primary-color);
    background-color: var(--secondary-color);
    font-size: 1rem;
}

/* Conteúdo, cards busca: */

.busca-lista{
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.busca-card{
    height: 187px ;
    position: relative;
    overflow: hidden;

    border-radius: 11px;

    box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.4);
}

.busca-card img{
    width: 100%;
}

h2{
    position: absolute;
    bottom: 1rem;
    left: 2rem;

    color: var(--highlight-color);
    
    width: 50%;
}

/* Classe para esconder o botão de voltar quando necessário */
.hidden{    
    display: none;
}

.visible{
    display: inline-block;
}

/* RESPONSIVIDADE */

/* Versão Tablet */
@media (min-width:744px){

    .busca-lista{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        place-content: space-between;
        gap: 20px;
        
    }

    .busca-card{
        width: 48%;
        height:400px
    }

    .busca-card img{
        height: 100%;
        object-fit: cover;

    }

    button{
        width: 294px;
        height: 100px;
        border-width: 4px;
        font-size: 48px;
    }

    .busca-card h2{
    top: 1rem;
    left: 50%;
    transform: translate(-50%);
    padding: 0;

    }
}

/* Versão Desktop */